@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@import url("./fontawesome-free-6.1.2-web/fontawesome-free-6.1.2-web/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: static;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  width: 15%;
  padding-left: 20px;
  height: 8vh;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 8vh;
}


.center input {
  width: 60%;
  padding: 10px;
  border: 1px solid rgba(51, 50, 50, 0.5);
  height: 6vh;
  outline: none;
  border-radius: 2px;
}
::placeholder{
  color: rgb(131, 131, 131);
  font-weight: 600;
}

.center button {
  height: 6vh;
  width: 60px;
  border-radius: 2px;
  background-color: rgba(221, 221, 221, 0.308);
  border-left: none;
  border-right: 1px solid rgba(51, 50, 50, 0.5);
  border-top: 1px solid rgba(51, 50, 50, 0.5);
  border-bottom: 1px solid rgba(51, 50, 50, 0.5);
}

#mic {
  margin-left: 5px;
  padding: 12px;
  height: 40px;
   width: 40px;
  background-color: rgba(187, 187, 187, 0.253);
  border-radius: 100%;
  color: rgb(0, 0, 0);
}


.right {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-around;
  color: rgb(100, 100, 100);
  height: 8vh;
  cursor: pointer;
}

.right i{
  font-size: 23px;
}


/* main {
  height: 90vh;
  display: flex;
  background-color: #f9f9f9;
} */


.side-bar {
  height: 89vh;
  width: 20%;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  background-color: white;
}



.left #menu {
  padding: 0 7px;
  cursor: pointer;
}


.navigation {
  width: 100%;
  height: 180px;
  border-bottom: 1px solid rgba(116, 114, 114, 0.349);
  display: flex;
  flex-direction: column;

}
.navigation2 {
  width: 100%;
  margin-top: 15px;
  height: 220px;
  border-bottom: 1px solid rgba(116, 114, 114, 0.459);
  display: flex;
  flex-direction: column;

}
.navigation3 {
  width: 100%;
  margin-top: 10px;
  height: 180px;
  border-bottom: 1px solid rgba(116, 114, 114, 0.459);
  display: flex;
  flex-direction: column;

}

.hm{
  background-color: rgba(156, 156, 156, 0.322);
}


.active {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.active span {
  font-weight: 400;
  font-size: 13px;
  margin-left: 15px;
}

.active:hover {
  background: #e5e5e569;
  cursor: pointer;
}

.active i{
  font-size: 18px;
}
hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.content {
  /* background-color: #d817ff; */
  width: 80%;
  height: 100%;
  /* margin-top: 20px; */
  left: 20%;
 position: relative;
  /* overflow-y: scroll; */
}
.overflow{
  /* background-color: aqua; */
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
}

.header2{
width: 100%;
height: 50px;
/* position: absolute; */
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
/* left: 20%; */
/* background-color: aqua; */
cursor: pointer;
border-top: 1px solid rgba(73, 73, 73, 0.521);
border-bottom: 1px solid rgba(73, 73, 73, 0.521);
}

.header2 div{
  background-color: #9191914d;
  border: 1px solid rgba(0, 0, 0, 0.247);
  padding: 4px 15px;
  z-index: 2;
  color: black;
  border-radius:15px ;
}

.header2 div:hover{
  background-color: #9191919c;
}
.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  /* margin-bottom: 300px; */
  z-index: 1;
  /* border: 1px solid rgb(0, 0, 0); */
  flex-wrap: wrap;
  /* position: relative; */
  aspect-ratio: 16/9;
  /* left: 20%; */
}

.video {
  width: 220px;
  margin: 10px;
  aspect-ratio: 16/9;

}
.all{
  background-color: rgb(20, 20, 20) !important;
  color: white !important;
}

.thumbnail {
  width: 100%;
  height: 170px;
}

.thumbnail img {
  object-fit: contain;
  height: 100%;
  
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.details {
  margin-top: 10px;
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 6px;
}


.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 12px;
}

#mobile-sidebar{
  display: none;
  background-color: black;
  color: white;
  z-index: 1000 !important;
  overflow-y: scroll;
  position: absolute !important;

   
}

.btn{
  outline: none;
  background-color: transparent;
  border: none;
}


@media (max-width:1200px) {


  .header2 div:nth-child(4),
  .header2 div:nth-child(8){
background-color: aqua;
display: none;
  }

  .videos{
    height: 260px;
    /* background-color: gold; */

  }
  .video{
    width: 180px;
    margin: 2px;

    aspect-ratio: 16/9;
  }
  .thumbnail {
    width: 100%;
    height: 120px;
  }
  .details {
    margin-top: 2px;
    display: flex;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  
  .title h3 {
    color: rgb(3, 3, 3);
    line-height: 14px;
    font-size: 12px;
    margin-bottom: 2px;
  }
  
  .title a,
  span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 12px;
  }
} 

@media (max-width:921px) {
  .center input {
    width: 50%;
   
  }
  .right i{
    font-size: 18px;
  }
  .header2 div:nth-child(9),
  .header2 div:nth-child(3){
background-color: aqua;
display: none;
  }
  
  .videos .video:nth-child(3){
    background-color: aqua;
    display: none;
    
  }
 
  .video{
    width: 180px;
    margin: 2px;
    aspect-ratio: 16/9;
  }
  .thumbnail {
    width: 100%;
    height: 180px;
  }
  .thumbnail img {
    object-fit: contain;
    height: 100%;
    
    width: 100%;
  }
  .author img {
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 3px;
  }
  .title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 9px;
}
.title h3 {
  color: rgb(3, 3, 3);
  line-height: 13px;
  font-size: 10px;
  margin-bottom: 2px;
}
.title {
  display: flex;
  width: 70% !important;
  flex-direction: column;
}
.active i{
  font-size: 13px;
}
.active span {
  font-weight: 400;
  font-size: 11px;
  margin-left: 15px;
}
.header2 div{
  background-color: #9191914d;
  border: 1px solid rgba(0, 0, 0, 0.247);
  padding: 6px 10px;
  color: black;
  font-size: 13px;
  border-radius:15px ;
}
}

@media (max-width:725px) {
  
  .video {
    width: 180px;
    aspect-ratio: 16/9;
  
  }
 

}

@media (max-width:695px) {

  .content {
    /* background-color: #d817ff; */
    width: 100%;
    height: 100%;
    /* margin-top: 20px; */
    left: 0;
    position: relative;
    /* overflow-y: scroll; */
  }

  .side-bar{
    display: none;
    
  }
  .btn:focus #mobile-sidebar{
    display: inherit;
    position: absolute !important;
    height: 100vh;
    width: 200px;
    z-index: 9999 !important;
    color: white;
    background-color: rgb(0, 0, 0) !important;

  }
  .hm{
    background-color: rgb(0, 0, 0);
  }
 
  .sidebar span{
    color: white !important;
  }
 

    .header2 div{
      background-color: #9191914d;
      border: 1px solid rgba(0, 0, 0, 0.247);
      padding: 4px 15px;
      color: black;
      border-radius:15px ;
    }
    .videos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      position:relative;
      aspect-ratio: 16/9;
      left: 0;
      top: 2vh !important;

    }


    .scroll1{
      overflow-x: scroll ;
      height: 300px;
      top: 2vh;
      /* position: absolute; */

    }

    .scroll2{
      overflow-x: scroll ;
      height: 300px;
      top: 20px;

    }
    

    .abt div:nth-child(1),
    .abt div:nth-child(2){
   background-color: aqua;
   display: none;
    }
    
    .m-3{
      display: none;
    }
}

@media (max-width:665px) {
  .left {
    display: flex;
    align-items: center;
    width: 15%;
    padding-left: 10px;
    height: 8vh;
  
  }
  .center input {
    width: 40%;
    padding: 10px;
    border: 1px solid rgba(51, 50, 50, 0.5);
    height: 6vh;
    outline: none;
    border-radius: 2px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 8vh;
  }
  ::placeholder{
    color: rgb(131, 131, 131);
    font-weight: 400;
  }
  .center button {
    height: 6vh;
    width: 40px;
    border-radius: 2px;
    background-color: rgba(221, 221, 221, 0.308);
    border-left: none;
    border-right: 1px solid rgba(51, 50, 50, 0.5);
    border-top: 1px solid rgba(51, 50, 50, 0.5);
    border-bottom: 1px solid rgba(51, 50, 50, 0.5);
  }
  .right i{
    font-size: 13px;
  }



}

@media (max-width:560px) {
  .header2 div{
    background-color: #9191914d;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 4px 15px;
    color: black;
    border-radius:15px ;
  }
  .videos {
    display: flex; 
    flex-direction: column;
 
  
  }
  .header2{
    overflow-x:scroll ;
    width: 100%;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 6vh;
    margin-left: 60px;
  }
  .center input {
    width: 80%;
    padding: 0px;
    height: 4vh;
    outline: none;
    border-radius: 2px;
  }
  .center button {
    height: 4vh;
    width: 40px;
    border-radius: 2px;
    background-color: rgba(221, 221, 221, 0.308);
    border-left: none;
    border-right: 1px solid rgba(51, 50, 50, 0.5);
    border-top: 1px solid rgba(51, 50, 50, 0.5);
    border-bottom: 1px solid rgba(51, 50, 50, 0.5);
  }



}

@media (max-width:420px) {
  #mic{
    display: none;
  }

  .right {
    background-color: red;
    display: none;
  }
  .right i{
    font-size: 12px;
    padding: 4px;
  }
  .btn{
    margin-left: -15px;
  }
  
  
  .center input {
    width: 70%;
    padding: 0px;
    height: 4vh;
    outline: none;
    border-radius: 2px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60% !important;
    height: 6vh;
    margin-left: 50px;
  }

  
  
 
}
@media (max-width:320px) {
  .center button{
    display: none;
  }
  .center input{
    margin-left: 50px;
  }
}
